services:
  - type: web
    name: mqtt-broker
    env: docker
    plan: free
    # Мы убрали healthCheckPath, чтобы Render не делал HTTP-проверки
    # Вместо этого мы указываем Render, что нужно просто дождаться открытия TCP-порта
    healthCheck:
      type: tcp
      port: 1883 # Проверяем, что Mosquitto запустился и слушает свой стандартный порт
