services:
  - type: web
    name: mqtt-broker
    env: docker
    plan: free

    # Явно указываем Render, что наш "веб" сервис работает на порту 9001 (для WebSockets)
    # Render направит весь внешний трафик именно на этот внутренний порт.
    httpPort: 9001

    # Для проверки работоспособности будем использовать этот же порт.
    # Render просто проверит, что порт 9001 открыт и готов принимать соединения.
    healthCheck:
      type: tcp
      port: 9001
